* {
	background-color: black !important;
	color: aliceblue;
}

html,
body,
* {
	color: #444 !important;
	font-size: 14px;
	font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

body {
	padding: 20px;
}
